<div class="main-menu max-height">
    <div class="create-quiz-container">
        <button class="back-button" @click="createQuizBack()">
            <img src="/static/left.png" alt="back" />
        </button>
        <img src="/static/create-doc.png" alt="create" class="main-img" />

        <!-- CREATE QUIZ PAGE 1 -->
        <div class="quiz-input" v-if="currentState == 'CREATE-QUIZ-1'">
            <div class="date">
                <img src="/static/name.png" alt="name" />
                <span>Quiz name</span>
            </div>
            <input
                type="text"
                placeholder="Enter quiz name"
                v-model="inputs.quizName"
                class="basic-input"
            />
        </div>

        <div class="quiz-input" v-if="currentState == 'CREATE-QUIZ-1'">
            <div class="date">
                <img src="/static/document.png" alt="name" />
                <span>Add text and/or files</span>
                <i
                    class="bi bi-info-circle"
                    style="color: black; -webkit-text-stroke: 0.4px"
                    v-tooltip="'You can enter text alongside or as an alternative to file uploads.'"
                ></i>
            </div>
            <div class="large-inputs">
                <textarea
                    placeholder="Enter text here (max 2000 characters)"
                    v-model="inputs.quizText"
                    class="quiz-text-input"
                ></textarea>
                <div class="file-upload">
                    <div class="file-upload-container">
                        <input
                            type="file"
                            id="fileInput"
                            class="file-input"
                            @change="uploadFile"
                            accept=".pdf,.pptx,.docx"
                        />
                        <label for="fileInput" class="file-label">
                            <img
                                src="/static/upload.png"
                                alt="upload"
                                class="main-img"
                            />
                            <span>Upload or drop files</span>
                            <div class="info-text">
                                <img
                                    src="/static/info.png"
                                    alt="info"
                                    class="small-img"
                                />
                                <span>Supported types: PDF, PPTX, DOCX</span>
                            </div>
                        </label>
                    </div>
                    <div class="date">
                        <img src="/static/folder.png" alt="folder" />
                        <span>{{ filesUploaded.length }} files uploaded:</span>
                        <span
                            v-for="(file, index) in filesUploaded"
                            :key="index"
                            class="file-name"
                        >
                            {{ file.name
                            }}<span
                                v-if="index < filesUploaded.length - 1"
                                class="file-name"
                                >,
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- CREATE QUIZ PAGE 2 -->
        <div class="horizontal" v-if="currentState == 'CREATE-QUIZ-2'">
            <div class="vertical">
                <div class="quiz-input">
                    <div class="date">
                        <img src="/static/Topic.png" alt="topic" />
                        <span
                            >What topic and academic level is this?
                            (optional)</span
                        >
                    </div>
                    <input
                        type="text"
                        placeholder="E.g. Cloud App Development - University"
                        v-model="inputs.quizTopic"
                        class="basic-input width-100"
                    />
                </div>

                <div class="quiz-input">
                    <div class="date">
                        <img src="/static/Questions.png" alt="questions" />
                        <span>How many questions do you want?</span>
                    </div>
                    <div class="slider-container">
                        <input
                            type="range"
                            min="3"
                            max="20"
                            v-model="inputs.numOfQuestions"
                            class="slider"
                        />
                        <span class="slider-value">{{
                            inputs.numOfQuestions
                        }}</span>
                    </div>
                </div>
            </div>

            <div class="quiz-input">
                <div class="date">
                    <img src="/static/Type.png" alt="type" />
                    <span>What type of questions do you want?</span>
                </div>
                <div class="radio-buttons">
                    <label class="checkbox-label basic-text">
                        <input
                            type="checkbox"
                            value="multi-choice"
                            @change="updateQuestionTypes('multi-choice')"
                            :checked="inputs.questionTypes.includes('multi-choice')"
                            class="checkbox-input"
                        />
                        <span class="custom-checkbox"></span>
                        Multiple choice
                    </label>
                    <label class="checkbox-label basic-text">
                        <input
                            type="checkbox"
                            value="fill-gaps"
                            @change="updateQuestionTypes('fill-gaps')"
                            :checked="inputs.questionTypes.includes('fill-gaps')"
                            class="checkbox-input"
                        />
                        <span class="custom-checkbox"></span>
                        Fill in the gaps
                    </label>
                    <label class="checkbox-label basic-text">
                        <input
                            type="checkbox"
                            value="short-answer"
                            @change="updateQuestionTypes('short-answer')"
                            :checked="inputs.questionTypes.includes('short-answer')"
                            class="checkbox-input"
                        />
                        <span class="custom-checkbox"></span>
                        Short answer
                    </label>
                </div>
            </div>
        </div>

        <button
            @click="continueQuizCreate()"
            class="main-btn"
            v-if="currentState == 'CREATE-QUIZ-1'"
        >
            Continue
        </button>
        <button @click="uploadQuiz()" class="main-btn" v-else>Finish</button>
    </div>
</div>
