<div class="main-menu">
    <div class="create-quiz-container">
        <button class="back-button" @click="closeCreateQuiz()">
            <img src="/static/left.png" alt="back"> 
        </button>
        <img src="/static/create-doc.png" alt="create"> 
        
        <div class="quiz-input">
            <div class="date">
                <img src="/static/name.png" alt="name"> 
                <span>Quiz name</span>
            </div>
            <input
                type="text"
                placeholder="Enter quiz name"
                v-model="inputs.quizName"
                class="basic-input"
            />
        </div>
        
        
        <div class="quiz-input">
            <div class="date">
                <img src="/static/document.png" alt="name"> 
                <span>Add text and/or files</span>
            </div>
            <textarea
                placeholder="Enter text here (max 4000 characters)"
                v-model="inputs.quizText"
                class="quiz-text-input"
            ></textarea>
        </div>

        <button @click="" class="main-btn">
            Continue
        </button>
    </div>
</div>