<div class="d-flex flex-column align-items-center">
    <div
        class="d-flex flex-column gap-3 align-items-center"
        style="width: 25rem"
    >
        <input
            type="text"
            placeholder="Username"
            v-model="inputs.username"
            class="form-control"
        />
        <input
            type="password"
            placeholder="Password"
            v-model="inputs.password"
            class="form-control"
        />
        <div>
            <button @click="login()" class="btn btn-primary">Login</button>
            <button @click="register()" class="btn btn-primary">
                Register
            </button>
        </div>
    </div>
</div>
