<div class="main-menu">
    <div class="menu-col-1">
        <div class="menu-container">
            <img src="/static/create-doc.png" alt="create" class="main-img"/>
            <p class="basic-text">
                Add text and files to generate a personalised quiz!
            </p>
            <button @click="createQuiz()" class="main-btn">
                Create a quiz
            </button>
        </div>
        <div class="menu-container">
            <img src="/static/student.png" alt="student" class="main-img"/>
            <p class="basic-text">
                Join a friend's personalised quiz and compete!
            </p>
            <input
                type="text"
                placeholder="Enter invite code →"
                v-model="inputs.inviteCode"
                class="basic-input-center"
                v-on:keyup.enter="joinQuiz()"
            />
        </div>
    </div>
    <div class="menu-col-2">
        <p class="col-titles">My quizzes</p>
        <!-- <div class="date">
            <img src="/static/calendar.png" alt="calendar"> 
            <span>December 2023</span>
        </div> -->
        <div
            v-if="!loadingQuizList"
            v-for="quiz in ownQuizzes"
            class="quiz-container"
        >
            <div class="quiz-item" @click="viewQuiz(quiz)">
                <div class="quiz-details">
                    <div class="quiz-question-count">
                        <div class="circle"></div>
                        <p class="question-count">{{ quiz.question_count }} questions</p>
                    </div>
                    <p class="quiz-name">{{ quiz.name }}</p>
                </div>

                <button @click.stop="startQuiz(quiz.id)" class="small-btn" :disabled="!quiz.processed">
                    <img src="/static/play.png" alt="start" />
                    <span>Start</span>
                </button>
            </div>
        </div>
        <div v-if="loadingQuizList" v-for="index in 3" :key="index">
            <div class="menu-container basic-text placeholder placeholder-glow">
                <span class="placeholder col-7 rounded"></span>
                <span class="placeholder col-12 rounded"></span>
                <button class="small-btn disabled placeholder">
                    <img src="/static/play.png" alt="start" />
                    <span>Start</span>
                </button>
            </div>
        </div>
    </div>
    <div class="menu-col-2">
        <p class="col-titles">Shared quizzes</p>
        <!-- <div class="date">
            <img src="/static/calendar.png" alt="calendar"> 
            <span>January 2024</span>
        </div> -->
        <div
            v-if="!loadingQuizList"
            v-for="quiz in sharedQuizzes"
            class="quiz-container"
        >
            <div class="quiz-item" @click="viewQuiz(quiz)">
                <div class="quiz-details">
                    <div class="quiz-question-count">
                        <div class="circle"></div>
                        <p class="question-count">{{ quiz.question_count }} questions</p>
                    </div>
                    <p class="quiz-name">{{ quiz.name }}</p>
                </div>

                <button @click="startQuiz(quiz.id)" class="small-btn" :disabled="!quiz.processed">
                    <img src="/static/play.png" alt="start" />
                    <span>Start</span>
                </button>
            </div>
        </div>
        <div v-if="loadingQuizList" v-for="index in 3" :key="index">
            <div class="menu-container basic-text placeholder placeholder-glow">
                <span class="placeholder col-7 rounded"></span>
                <span class="placeholder col-12 rounded"></span>
                <button class="small-btn disabled placeholder">
                    <img src="/static/play.png" alt="start" />
                    <span>Start</span>
                </button>
            </div>
        </div>
    </div>
</div>
