<div class="main-menu max-height">
    <div class="menu-col-1">
        <div class="menu-container">
            <img src="/static/Quiz.png" alt="quiz" class="main-img"/>
            <p class="quiz-title">
                {{ currentQuiz.quiz_name }} 
            </p>
           <div class="quiz-info align-center">
                <div class="quiz-question-count">
                    <div class="circle"></div>
                    <p class="basic-text">{{ currentQuiz.total_questions }} questions</p>
                </div>
                <div class="quiz-question-count">
                    <div class="circle black"></div>
                    <p class="basic-text" v-if="currentQuiz.owner_name">{{ currentQuiz.owner_name }}</p>
                    <p class="basic-text" v-else>quiz creator</p>
                </div>
           </div>
        </div>
        <div class="menu-container align-items-start less-padding">
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/People.png" alt="people"> 
                    <span>people</span>
                </div>
                <p v-if="currentQuiz.people" v-for="person in currentQuiz.people" class="larger-font grey-font">{{ person }}</p>
            </div>
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/High Score.png" alt="high_score"> 
                    <span>your high score</span>
                </div>
                <p class="larger-font grey-font" v-if="currentQuiz.personal_high_score">{{ currentQuiz.personal_high_score }}/{{ currentQuiz.total_questions }}</p>
                <p class="larger-font grey-font" v-else>attempt the quiz!</p>
            </div>
        </div>
    </div>
    <div class="menu-col-3">
        <div class="menu-container align-items-start less-padding">
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/High Score.png" alt="high_score"> 
                    <span>leaderboard</span>
                </div>
                <p v-if="currentQuiz.leaderboard" v-for="person in currentQuiz.leaderboard.slice(0, 5)" class="larger-font" :class="person.username == user.username ? 'darker-grey' : 'grey-font'">{{ person.username }}: {{ person.score }}</p>
            </div>
        </div>
        <div class="menu-container align-items-start lesser-padding" v-if="currentQuiz.errored">
            <div class="quiz-info-headers">
                <span class="red-font">Something went wrong generating the quiz. This may have been caused by
                    the content containing too much text.<br><br>
                    Please try again with different files.
                </span>
            </div>
        </div>
        <div class="menu-container align-items-start lesser-padding" v-if="currentQuiz.is_owner && !currentQuiz.errored">
            <div class="quiz-info-headers">
                <img src="/static/Invite.png" alt="invite"> 
                <span>invite friends</span>
            </div> 
            <!-- <input
                type="text"
                placeholder="Enter username"
                v-model="inputs.userToInvite"
                class="basic-input width-100"
            /> -->
            <div class="quiz-info-headers">
                <span v-if="currentQuiz.invite_code">invite code: {{ currentQuiz.invite_code }}</span>
                <span v-else>invite code: no code</span>
                <img src="/static/Copy.png" alt="copy" class="invite-code" @click="copyInviteCode(currentQuiz.invite_code)"> 
            </div> 
        </div>

        <div class="menu-container large-button align-items-start" @click="startQuiz(currentQuiz.quiz_id)" v-if="!currentQuiz.errored">
            <div class="quiz-info-headers">
                <img src="/static/Play Black.png" alt="start"> 
                <span>start quiz</span>
            </div> 
        </div>
        <div @click.stop="leaveQuiz(currentQuiz)" class="menu-container large-button align-items-start" v-if="!currentQuiz.is_owner">
            <div class="quiz-info-headers red-font">
                <img src="/static/Leave.png" alt="leave"> 
                <span class="red-font">leave quiz</span>
            </div> 
        </div>
        <!-- Delete quiz button -->
        <div class="menu-container large-button align-items-start" v-if="currentQuiz.is_owner"
            data-bs-toggle="modal" data-bs-target="#deleteModal"
        >
            <div class="quiz-info-headers red-font">
                <img src="/static/Delete.png" alt="delete"> 
                <span class="red-font">delete quiz</span>
            </div> 
        </div>
        <!-- Delete quiz modal -->
        <div class="modal fade basic-text" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true" v-if="currentQuiz.is_owner">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content main-modal basic-text">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete '{{ currentQuiz.quiz_name }}'?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this quiz?
                </div>
                <div class="modal-footer">
                  <button type="button" class="small-btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="small-btn btn-danger" data-bs-dismiss="modal" @click="deleteQuiz(currentQuiz)">Delete</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="menu-col-1">
        <!-- <div class="menu-container align-items-start less-padding">
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/High Score.png" alt="high_score"> 
                    <span>leaderboard</span>
                </div>
                <p v-if="currentQuiz.leaderboard" v-for="person in currentQuiz.leaderboard.slice(0, 5)" class="larger-font" :class="person.username == user.username ? 'darker-grey' : 'grey-font'">{{ person.username }}: {{ person.score }}</p>
            </div>
        </div> -->
    </div>
</div>