<div class="main-menu">
    <div class="menu-col-1">
        <div class="menu-container">
            <img src="/static/Quiz.png" alt="quiz" class="main-img"/>
            <p class="quiz-title">
                {{ currentQuiz.quiz_name }} 
            </p>
           <div class="quiz-info">
                <div class="quiz-question-count">
                    <div class="circle"></div>
                    <p class="basic-text">{{ currentQuiz.total_questions }} questions</p>
                </div>
                <div class="quiz-question-count">
                    <div class="circle black"></div>
                    <p class="basic-text" v-if="currentQuiz.owner_name">{{ currentQuiz.owner_name }}</p>
                    <p class="basic-text" v-else>quiz creator</p>
                </div>
           </div>
        </div>
        <div class="menu-container align-items-start less-padding">
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/People.png" alt="people"> 
                    <span>people</span>
                </div>
                <p v-if="currentQuiz.people" v-for="person in currentQuiz.people" class="larger-font grey-font">{{ person }}</p>
            </div>
            <div class="quiz-info">
                <div class="quiz-info-headers">
                    <img src="/static/High Score.png" alt="high_score"> 
                    <span>high score</span>
                </div>
                <p class="larger-font grey-font" v-if="currentQuiz.high_score">{{ currentQuiz.high_score }}</p>
                <p class="larger-font grey-font" v-else>18/25</p>
            </div>
        </div>
    </div>
    <div class="menu-col-3">
        <div class="menu-container large-button align-items-start">
            <div class="quiz-info-headers">
                <img src="/static/Play Black.png" alt="start"> 
                <span>start quiz</span>
            </div> 
        </div>
        <div class="menu-container align-items-start lesser-padding" v-if="currentQuiz.owner_name == user.username">
            <div class="quiz-info-headers">
                <img src="/static/invite.png" alt="invite"> 
                <span>invite friends</span>
            </div> 
            <input
                type="text"
                placeholder="Enter username"
                v-model="inputs.userToInvite"
                class="basic-input width-100"
            />
            <div class="quiz-info-headers invite-code">
                <span v-if="currentQuiz.invite_code">invite code: {{ currentQuiz.invite_code }}</span>
                <span v-else>invite code: 121212</span>
                <img src="/static/Copy.png" alt="copy"> 
            </div> 
        </div>

        <div @click.stop="leaveQuiz(currentQuiz)" class="menu-container large-button align-items-start" v-if="currentQuiz.owner_name != user.username">
            <div class="quiz-info-headers red-font">
                <img src="/static/Leave.png" alt="leave"> 
                <span class="red-font">leave quiz</span>
            </div> 
        </div>
        <div @click.stop="deleteQuiz(currentQuiz)" class="menu-container large-button align-items-start" v-if="currentQuiz.owner_name == user.username">
            <div class="quiz-info-headers red-font">
                <img src="/static/Delete.png" alt="delete"> 
                <span class="red-font">delete quiz</span>
            </div> 
        </div>
    </div>
    <div class="menu-col-1"></div>
</div>