p {
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #33014B 0% 0% no-repeat padding-box;
    color: white;
}

.overflow-auto {
    background: #33014B 0% 0% no-repeat padding-box; 
}

.overflow-auto .logged-in {
    background-color: #E9BBFF;
}

.loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.navbar {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between; /* This will place the title and the button at the extremes */
    align-items: center;
    margin-bottom: 2rem;
    background-color: #33014B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative; /* Needed for absolute positioning of the title */
}

.navbar-logo {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center the logo vertically */
    flex: 1; /* This will allow the logo to take up space in the flex container */
    gap: 5px; 
}

.navbar-title {
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0; /* Remove default margin */
    line-height: 1;
    text-align: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: end; /* Center the contents */
    flex: 1;  
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: start; /* Center the contents */
    flex: 1;  
}

.navbar-left {
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.login-title {
    font-weight: bold;
    font-size: 54px;
    color: #DAADE7;
    margin-bottom: -10px;
    text-align: center;
}

.login-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    color: #DAADE7;
    margin-bottom: 2rem;
    text-align: center;
}

.subtitle-image {
    height: auto; /* Adjust as necessary */
    width: 1rem; /* Adjust as necessary */
    margin-right: 0.5rem; /* Space between the image and the text */
}

.auth-container {
    background-color: #E9BBFF;
    border-radius: 40px;
    padding: 20px; /* Add padding as needed */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the space between elements */
    align-items: center; /* Center-align the child elements */
    width: 100%; /* Take the full width of the parent or as needed */
}

.form-control {
    border-radius: 40px;
    border: none; /* Remove border */
    padding: 1rem; /* Add padding */
    margin: 0.5rem 0;
}

.btn-primary {
    border-radius: 40px;
    padding: 1rem 2rem; /* Adjust padding as needed */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* UPPERCASE text */
    margin-top: 1rem; /* Space above the button */
    background: #6A0DAD; /* Purple background */
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.btn-primary:hover {
    background: #7B1FA2; /* Darker purple background on hover */
}

.main-btn {
    border-radius: 40px;
    padding: 0.75rem 2.5rem;
    margin-top: 0.8rem;
    font-weight: 300;
    font-size: 20px;
    background: #540479; /* Purple background */
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-btn:hover {
    background: #7B1FA2; /* Darker purple background on hover */
}

.small-btn {
    border-radius: 40px;
    padding: 0.75rem 1.5rem;
    font-weight: 300; /* Make the text bold */
    background: #540479; /* Purple background */
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-btn:hover {
    background: #7B1FA2; /* Darker purple background on hover */
}

.navbar-btn {
    border-radius: 40px;
    padding: 0.5rem 2rem;
    font-weight: 400; /* Make the text bold */
    background: transparent; /* Purple background */
    border-color: white;
    border-width: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: white;
    font-size: 18px;
    display: flex;          /* Establishes this element as a flex container */
    align-items: center;    /* Vertically centers the flex items */
    justify-content: center;
    gap: 8px;
}

.navbar-btn:hover {
    background: #7B1FA2; /* Darker purple background on hover */
}

.toggle-buttons {
    display: flex;
    gap: 10px; /* Space between toggle buttons */
    margin-bottom: 1rem;
    border-radius: 40px;
    background-color: #DA8BFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toggle-buttons button {
    background-color: #DA8BFF;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 400;
    color: white;
    transition: background-color 0.3s;
}

.toggle-buttons button.active {
    background-color: #CC63FF;
    color: white;
}

.logged-in {
    background-color: #E9BBFF !important;
}

.main-menu {
    background-color: #E9BBFF;
    height: 90vh; /* This sets the height to be 100% of the viewport height */
    width: 100%; /* This ensures it takes the full width; adjust as necessary */
    display: flex;
    justify-content: center; /* This will vertically center the content */
    align-items: start; /* This will horizontally center the content */
    gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.menu-col-1 {
    width: 35%;
    padding: 10px;
    height: 90vh;
    display: flex; /* Make it a flex container */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    gap: 2rem; /* Spacing between each item */
}

.menu-col-2 {
    width: 35%;
    padding: 10px;
    height: 90vh;
    display: flex; /* Make it a flex container */
    align-items: start; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    gap: 1rem; /* Spacing between each item */
}

.menu-col-3 {
    width: 30%;
    padding: 10px;
    height: 90vh;
    display: flex; /* Make it a flex container */
    align-items: start; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    gap: 1rem; /* Spacing between each item */
}

.menu-container {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    padding: 2rem 4rem;
    gap: 15px; /* Spacing between each item */
    width: 100%;
}

.less-padding {
    padding: 1.5rem 3rem;
}

.lesser-padding {
    padding: 1.5rem 2rem;
}

.invite-code {
    cursor: pointer;
}

.align-items-start {
    align-items: start;
}

.larger-font {
    font-weight: 500;
    font-size: 1.3rem;
}

.grey-font {
    color: #E2E2E2;
}

.quiz-info {
   display: flex; 
   flex-wrap: wrap; 
   align-items: start; 
   flex-direction: column;
   justify-content: center;
   gap: 5px; 
}

.quiz-info-headers {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px;
}

.quiz-info-headers span {
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    line-height: 1;
    margin: 0;
}

.quiz-info-headers span.red-font{
    color: #FF5757;
}

.red-font {
    color: #FF5757;
}

.create-quiz-container {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    padding: 2rem;
    margin: 0 12rem;
    gap: 15px; /* Spacing between each item */
    width: 100%;
    position: relative;
}

.quiz-input {
    width: 90%;
    display: flex; /* Make it a flex container */
    justify-content: start; /* Center items horizontally */
    align-items: start; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
    gap: 10px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the start (left) */
    width: 100%;
    padding-bottom: 15px; /* Optional: space below the header */
}

.container-header img {
    margin-left: auto; /* Center the image */
    margin-right: auto;
}

.basic-text {
    color: black;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: center;
}

.col-titles {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.back-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: white;
    border-radius: 50%; /* Makes it circular */
    border: 3px solid #540479;
    height: 40px; /* Specific height for a perfect circle */
    width: 40px; /* Specific width for a perfect circle */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    padding: 0; /* Remove any default padding */
}

.back-button img {
    height: 80%; /* Adjust the size of the image */
    width: 80%; /* Adjust the size of the image */
}

.basic-input-center {
    border-radius: 40px;
    border: 3px solid #D5D5D5;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
}

.basic-input {
    border-radius: 40px;
    border: 3px solid #D5D5D5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    width: 50%;
}

.width-100 {
    width: 100%;
}

.quiz-text-input {
    border-radius: 40px;
    border: 3px solid #D5D5D5;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    font-size: 18px;
    width: 50%; /* Adjust width as needed */
    height: 300px; /* Set a fixed height or use min-height */
    resize: vertical; /* Allow resizing vertically */
    overflow: hidden; /* Add scroll bar when content overflows */
}

.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal, .vertical {
    display: flex;
    gap: 25px;
    width: 100%;
}

.horizontal {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: start;
    align-items: start;
}

.date {
    display: flex; /* Continue using flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-items: center; /* Keep items vertically aligned */
    gap: 8px;
}

.date span {
    font-weight: 300;
    font-size: 18px;
    color: black;
    line-height: 1;
    margin: 0;
}

.input-title {
    gap: 8px;
}

.input-title span {
    color: black;
    font-weight: 300;
    font-size: 14px;
}

.error-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in the same place even on page scroll */
    top: 0; /* Start from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the div based on its width */
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 15%;
    max-width: 80%; /* You can adjust or remove this */
    white-space: nowrap; /* Keep text in a single line */
    opacity: 0; /* Start with an invisible popup */
    animation: slideDown 0.5s forwards; /* Animation to slide down */
    z-index: 1000; /* Ensure it's above other elements */
}

@keyframes slideDown {
    0% {
        top: -100px; /* Start above the screen */
        opacity: 0;
    }
    100% {
        top: 10px; /* The final position from the top */
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        top: 10px; /* Current visible position */
        opacity: 1;
    }
    100% {
        top: -100px; /* Position above the screen */
        opacity: 0;
    }
}

.error-icon {
    margin-right: 10px;
    width: 24px; /* Adjust if needed */
    height: 24px; /* Adjust if needed */
}

.error-message {
    color: #333;
    font-size: 16px; /* Adjust if needed */
    text-align: center;
}

.large-inputs {
    display: flex; /* Enable Flexbox */
    gap: 30px; /* Space between child elements */
    justify-content: center; /* Center align the child elements */
    align-items: stretch; /* Stretch items to fill the container */
    width: 100%;
}

.large-button {
    cursor: pointer;
    padding: 1rem 2rem;
}

.quiz-text-input,
.file-upload {
    flex: 1; /* Each child takes equal width */
    min-width: 0; /* Prevents flex items from growing beyond their content */
}

.file-upload {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;  
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Same as textarea */
    border: 3px solid #D5D5D5; /* Grey border */
    border-radius: 40px;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
}

.file-input {
    opacity: 0; /* Hide the actual input element */
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
}

.file-label {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Space between image and text */
    cursor: pointer;
    font-size: 20px;
    color: #E2E2E2;
    text-align: center;
    width: 100%;
}

.info-text {
    gap: 5px;
}

.info-text span {
    font-weight: 300;
    font-size: 12px;
    color: #E2E2E2;
}

.date .file-name {
    color: #E2E2E2;
    white-space: nowrap; /* Prevent individual filenames from wrapping */
}

.quiz-container {
    width: 100%;
}

.quiz-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 40px;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    gap: 2rem;
    cursor: pointer;
}

.quiz-details {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.quiz-question-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.question-count {
    color: black;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #5869FF;
}

.black {
    background-color: black;
}

.quiz-name {
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
}

.quiz-title {
    font-weight: 500;
    font-size: 1.4rem;
    color: black;
    text-align: center;
}

.loading-container {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 40px;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
    overflow: visible;
}

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px; /* Adjust height as needed */
    background: #5869FF;
    cursor: pointer;
    border-radius: 10px;
    overflow: visible;
}
  
.slider::-moz-range-thumb {
    width: 5px;
    height: 25px; /* Adjust height as needed */
    background: #5869FF;
    cursor: pointer;
    border-radius: 10px;
    overflow: visible;
}
  
.slider-value {
    margin-left: 8px;
    color: black;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.checkbox-input {
    display: none;
  }
  
  /* Create a custom appearance for the label that will act as the custom checkbox */
.checkbox-label {
    display: flex;
    align-items: center; /* This will vertically center the checkbox with the text */
    cursor: pointer;  
}
  
.custom-checkbox {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px; /* Add some space between the checkbox and the label text */
}
  
  /* Style for when the checkbox is checked */
.checkbox-input:checked + .custom-checkbox {
    background-color: #5869FF;
    border-color: #5869FF;
}

/* Smaller screen (e.g., 14-inch laptop) adjustments */
@media screen and (max-width: 1440px) {
    .navbar {
        padding: 1rem 2.5rem;
        margin-bottom: 1rem;
    }

    .main-menu {
        gap: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menu-container {
        padding: 1.5rem 3rem;
    }

    .basic-text {
        font-size: 1rem;
    }

    .basic-input, .basic-input-center {
        padding: 0.7rem; 
        font-size: 16px; 
    }

    .quiz-name {
        font-size: 1.15rem;
    }
    
    .date span {
        font-size: 15px;
    }

    .quiz-item {
        padding: 0.8rem 1.5rem;
        gap: 1.5rem;
    }

    .main-btn, .small-btn {
        padding: 0.5rem 1.5rem;
        font-size: 18px;
    }

    .navbar-title {
        font-size: 1.8rem;
    }

    .menu-col-3 {
        width: 35%;
    }
    
    .large-button {
        padding: 0.8rem 1.5rem;
    }

    .create-quiz-container {
        padding: 1.5rem;
        margin: 0 7rem;
        gap: 15px;
    }

    .quiz-input {
        gap: 5px;
    }

    .large-inputs {
        gap: 20px;
    }

    .quiz-text-input {
        padding: 0.75rem 1rem;
        margin: 0.25rem 0;
        font-size: 16px;
        width: 50%; 
        height: 250px;
    }

    .file-upload {
        gap: 5px;  
    }
    
    .file-upload-container {
        padding: 0.75rem;
        margin: 0.25rem 0;
    }
    
    .file-label {
        gap: 5px; 
        font-size: 18px;
    }
    
    .info-text {
        gap: 3px;
    }
    
    .info-text span {
        font-size: 10px;
    }

    .quiz-info-headers {
        gap: 7.5px;
    }
    
    .quiz-info-headers span {
        font-size: 1.15rem;
    }

    .less-padding {
        padding: 1.2rem 2.5rem;
    }
    
    .lesser-padding {
        padding: 1.2rem 1.7rem;
    }

    .larger-font {
        font-size: 1.15rem;
    }
}