p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #33014B 0% 0% no-repeat padding-box;
    color: white;
}

.loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.navbar {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.login-title {
    font-weight: bold;
    font-size: 50px;
    color: #DAADE7;
    margin-bottom: -10px;
}

.login-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    color: #DAADE7;
    margin-bottom: 2rem;
}

.subtitle-image {
    height: auto; /* Adjust as necessary */
    width: 1rem; /* Adjust as necessary */
    margin-right: 0.5rem; /* Space between the image and the text */
}

.auth-container {
    background-color: #E9BBFF;
    border-radius: 40px;
    padding: 20px; /* Add padding as needed */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the space between elements */
    align-items: center; /* Center-align the child elements */
    width: 100%; /* Take the full width of the parent or as needed */
}

.form-control {
    border-radius: 40px;
    border: none; /* Remove border */
    padding: 1rem; /* Add padding */
    margin: 0.5rem 0;
}

.btn-primary {
    border-radius: 40px;
    padding: 1rem 2rem; /* Adjust padding as needed */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* UPPERCASE text */
    margin-top: 1rem; /* Space above the button */
    background: #6A0DAD; /* Purple background */
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.btn-primary:hover {
    background: #7B1FA2; /* Darker purple background on hover */
}

.toggle-buttons {
    display: flex;
    gap: 10px; /* Space between toggle buttons */
    margin-bottom: 1rem;
    border-radius: 40px;
    background-color: #DA8BFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toggle-buttons button {
    background-color: #DA8BFF;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 400;
    color: white;
    transition: background-color 0.3s;
}

.toggle-buttons button.active {
    background-color: #CC63FF;
    color: white;
}

.error-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in the same place even on page scroll */
    top: 0; /* Start from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the div based on its width */
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 15%;
    max-width: 80%; /* You can adjust or remove this */
    white-space: nowrap; /* Keep text in a single line */
    opacity: 0; /* Start with an invisible popup */
    animation: slideDown 0.5s forwards; /* Animation to slide down */
    z-index: 1000; /* Ensure it's above other elements */
}

@keyframes slideDown {
    0% {
        top: -100px; /* Start above the screen */
        opacity: 0;
    }
    100% {
        top: 10px; /* The final position from the top */
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        top: 10px; /* Current visible position */
        opacity: 1;
    }
    100% {
        top: -100px; /* Position above the screen */
        opacity: 0;
    }
}

.error-icon {
    margin-right: 10px;
    width: 24px; /* Adjust if needed */
    height: 24px; /* Adjust if needed */
}

.error-message {
    color: #333;
    font-size: 16px; /* Adjust if needed */
}
