<div class="navbar">
    <div class="navbar-logo">
        <img src="/static/star.png" alt="star">
        <h3 class="navbar-title" v-if="user">Qwiz</h3>
    </div>
    <div class="navbar-right">
        <button @click="logout()" class="logout-btn" v-if="user">
            <span class="logout-btn-text">{{ user.username }}</span>
            <img src="/static/logout-icon.png" alt="logout">
        </button>
    </div>
</div>